
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';




@import "tailwindcss";

body {
  font-family: system-ui, sans-serif;
  background-color: black;
  color: white;
}

.glow-blue {
  box-shadow: 0 0 25px rgba(59, 130, 246, 0.3);
}